/* Desktop */

@media screen and (min-width: 992px){

    /* Banner */

    #banner{
        padding-top: 60px;
        padding-bottom: 191px;
    }

    /* Footer */

    footer nav ul{
        display: flex;
        justify-content: center;
    }

    footer nav a{
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Tablette */

@media all and (min-width: 768px) and (max-width: 992px){}

/* Mobile */

@media screen and (max-width: 768px){

    /* Banner */

    #banner .illu{
        display: none;
    }

}