/* Desktop */

@media screen and (min-width: 992px){

    /* Banner */

    #banner{
        padding-top: 60px;
        padding-bottom: 191px;
    }

    /* Concept */

    #concept .bg-concept h3{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    /* Recrutement */

    .selection, .strategie{
        position: relative;
        top: 70px;
    }

    .onboarding, .recrutement{
        position: relative;
        top: 120px;
    }

    .signature{
        margin-top: 15px;
    }

    /* Footer */

    footer nav ul{
        display: flex;
        justify-content: center;
    }

    footer nav a{
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Mobile & tablette */

@media screen and (max-width: 992px){

    /* Mise en page */

    h1{
        font-size: 35px;
        text-align: center;
    }

    h2{
        font-size: 30px;
    }

    #banner{
        text-align: center;
    }

    /* Navigation */

    header .top span{
        position: inherit;
        top: inherit;
        right: inherit;
    }

    /* Footer */

    footer{
        text-align: center;
    }

    footer .top{
        padding-bottom: 0px;
    }

    footer .linkedin{
        margin-bottom: 15px;
    }

    footer .linkedin a{
        position: inherit;
        bottom: inherit;
    }

}

/* Tablette */

@media all and (min-width: 768px) and (max-width: 992px){

}

/* Mobile */

@media screen and (max-width: 768px){

    /* Banner */

    #banner .illu, #banner .bg-banner, #banner .bg-page{
        display: none;
    }

    header, #banner{
        background-color: rgba(0, 116, 231, 0.1);
    }

    #banner{
        padding-bottom: 30px;
    }

}