/* Mise en page */

a, :hover{
    text-decoration: none !important;
}

:hover{
    transition: all 0.3s ease-in-out 0s;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #003679;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: #003679;
}

h1{
    font-size: 55px;
    font-weight: 700;
}

h2{
    font-size: 37px;
    font-weight: 600;
    line-height: 48px;
}

h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

blockquote{
    color: #0074E7;
    font-weight: 600;
    font-size: 18px;
    border-left: 3px solid #0074E7;
    padding-left: 10px;
    font-style: normal;
}

.hash-title{
    font-weight: 700;
    font-size: 25px;
}

.bg-blue{
    background-color: rgba(0, 116, 231, 0.1);
}

.blue{
    color: #0074E7;
}

.green{
    color: #3DE2BB;
}

.gold{
    color: #CA950E;
}

.strike{
    text-decoration: line-through;
}

.btn-blue, .btn-dark, .btn-light, .btn-gold{
    display: inline-block;
    color: #fff !important;
    border-radius: 12px;
    padding: 10px 30px;
}

.btn-blue{
    background-color: #0074E7;
}

.btn-blue:hover{
    background-color: #005BB5;
}

.btn-dark{
    background-color: #003679;
}

.btn-dark:hover{
    background-color: #002149;
}

.btn-light{
    background: rgba(255, 255, 255, 0.3);
}

.btn-light:hover{
    background: rgba(255, 255, 255, 0.2);
}

.btn-gold{
    background-color: #CA950E;
}

.btn-white{
    background-color: #fff;
    display: inline-block;
    color: #0133AB;
    border-radius: 12px;
    padding: 10px 30px;
}

/* Item radius */

.item-radius{
    position: relative;
    z-index: 1;
    background-color: #fff;
    height: 100%;
    padding: 30px 30px 50px 30px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 4px 10px rgba(35, 81, 149, 0.15);
}

#services .item-radius .img{
    background-color: rgba(0, 116, 231, 0.1);
}

#services .item-radius a{
    position: absolute;
    bottom: 25px;
}

.item-radius .img{
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 10px;
}

.item-radius i{
    color: #3DE2BB;
    font-size: 24px;
}

/************** Header ***************
*************************************/

header{
    position: relative;
    z-index: 1;
}

header .top{
    position: relative;
    font-weight: 600;
    color: #003679;
    background-color: #AFD7FF;
    padding: 10px;
}

header .top p{
    margin-bottom: 0px;
}

header .top span{
    position: absolute;
    top: 10px;
    right: 10px;
}

header .top span i{
    margin-left: 10px;
}

header nav{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

header nav a{
    position: relative;
    color: #003679 !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

header nav a.hov:hover{
    color: #0074E7 !important;
}

header nav a.hov:after {
    position: absolute;
    left: 50%;
    right: 50%;
    height: 2px;
    bottom: 0;
    content: "";
    background-color: #0074E7;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate3d(0, 0, 0);
}

header nav a.hov:hover:after {
    left: 40px;
    right: 42px;
  }

header .navbar-collapse{
    flex-grow: inherit;
}

/************** Banner ***************
*************************************/

#banner .bg-banner, #banner .bg-page{
    position: absolute;
    top: 44px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    z-index: 0;
}

#banner .bg-banner{
    height: 680px;
    background-image: url('img/header-home.webp');
}

#banner .bg-page{
    height: 580px;
    background-image: url('img/bg-page.png');
}

#banner h1{
    margin-bottom: 20px;
}

#banner .container{
    position: relative;
}

#banner .content p{
    margin-bottom: 50px;
}

#banner .content span{
    font-weight: 600;
    margin-right: 10px;
}

/************************ Services **************************
************************************************************/

#services{
    padding-top: 50px;
    padding-bottom: 50px;
}

#services .subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #0074E7;
}

#services .items{
    position: relative;
    margin-top: 50px;
}

#services .items:after{
    content: "";
    position: absolute;
    z-index: 0;
    left: -60px;
    bottom: -55px;
    width: 294px;
    height: 278px;
    background-image: url('img/deco-trame-bloc.webp');
}

#services .item{
    margin-top: 15px;
    margin-bottom: 15px;
}

/************** Concept ***************
**************************************/

#concept{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
}

#concept h2{
    margin-bottom: 70px;
}

#concept h3{
    font-size: 30px;
}

#concept .subtitle{
    color: #003679;
    font-size: 20px;
    font-weight: 600;
}

#concept .bg-concept{
    background-image: url('img/bg-concept.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 79px;
    border-radius: 15px;
}

#concept .bg-concept h3{
    color: #fff;
    line-height: 44px;
}

#concept .clients h3{
    margin-top: 70px;
    margin-bottom: 15px;
}

/************** Avis ***************
***********************************/

#avis{
    background-color: rgba(0, 116, 231, 0.1);
    padding-top: 65px;
    padding-bottom: 65px;
    overflow: hidden;
}

#avis .title-nav{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#avis .container{
    position: relative;
}

#avis .item .infos{
    display: flex
}

#avis .item .infos .img img{
    width: 65px;
}

#avis .item .name{
    margin-left: 10px;
}

/* Carousel */

.owl-carousel{
    width: 100vw;
}

.owl-carousel .item{
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(35, 81, 149, 0.3);
    border-radius: 15px;
}

.owl-carousel .item .quote{
    width: 38px;
    margin-bottom: 15px;
}

.owl-carousel p{
    font-size: 14px;
}

.owl-item{
    padding: 15px;
}

.owl-controls{
    margin-top: 40px;
}

.owl-nav .owl-prev, .owl-nav .owl-next{
    border-radius: 30px;
    background-color: rgba(0, 54, 121, 0.1);
    margin: 0 5px;
    border: none;
}

.owl-nav i{
    padding: 15px 13px;
    color: #0074E7;
}

/************** Besoins ***************
**************************************/

#besoins{
    padding-top: 50px;
}

#besoins h2{
    margin-bottom: 30px;
}

#besoins p{
    margin-bottom: 0px;
}

#besoins .left .content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#besoins .content img{
    margin-bottom: 15px;
}

#besoins .item{
    position: relative;
    margin-bottom: 30px;
    padding: 50px 100px;
    box-shadow: 0px 4px 10px rgba(35, 81, 149, 0.15);
    border-radius: 11px;
}

#besoins .item.expert:before, #besoins .item.rocket:before, #besoins .item.candidat:before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    left: 35px;
}

#besoins .item.expert:before{
    background-image: url('img/icons/icon_expert.png');
    width: 32px;
    height: 27px;
}

#besoins .item.rocket:before{
    background-image: url('img/icons/icon_rocket.png');
    width: 28px;
    height: 28px;
}

#besoins .item.candidat:before{
    background-image: url('img/icons/icon_candidat.png');
    width: 28px;
    height: 32px;
}

/* valeurs */

.valeurs{
    color: #fff;
    background-color: #0074E7;
    border-radius: 15px;
    padding: 45px;
    position: relative;
    top: 85px;
}

.valeurs p{
    font-size: 30px;
}

.valeurs p span{
    font-size: 20px;
}

.valeurs a{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* chiffres */

.chiffres{
    background-color: rgba(0, 116, 231, 0.1);
    padding-top: 200px;
    padding-bottom: 95px;
}

.chiffres h3{
    font-size: 30px;
    line-height: 43px;
}

.chiffres .top{
    margin-bottom: 20px;
}

.chiffres .bottom{
    margin-top: 20px;
}

.chiffres .left p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px !important;
}

.chiffres .right .blue{
    font-size: 40px;
    font-weight: 700;
}

.chiffres .right p{
    color: #101130;
    font-size: 14px;
}

/************************ FAQ **************************
*******************************************************/

#faq{
    background-color: #003679;
    padding-top: 70px;
    padding-bottom: 70px;
}

#faq h2, #faq h3{
    color: #fff;
}

#faq h2{
    margin-bottom: 70px;
}

#faq h3{
    font-size: 37px;
    margin-bottom: 20px;
}

#faq .left p{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

#faq li{
    font-size: 14px;
    color: #003679;
}

/* Accordion */

#faq .accordion{
    --bs-accordion-bg: transparent;
}

#faq .accordion-item{
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px #222F43;
    border-radius: 11px;
    background-color: #fff;
}

#faq .accordion-button:not(.collapsed){
    background-color: transparent;
    border: none;
}

#faq .accordion-item .reponse{
    font-size: 14px;
    color: #003679;
    padding: 15px;
}

#faq .accordion-item p{
    margin-bottom: 0px;
    color: #003679;
}

#faq .accordion-item h2{
    margin-bottom: 0px;
}

/************************ Marque employeur **************************
********************************************************************/

#candidats{
    padding-bottom: 50px;
}

#candidats .left .content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#candidats .blue{
    font-size: 40px;
    font-weight: 700;
    color: #0074E7;
}

#candidats p{
    font-size: 14px;
}

#marque{
    padding-top: 50px;
    padding-bottom: 100px;
}

#marque h2{
    margin-bottom: 55px;
}

#marque h2 span{
    font-size: 30px;
}

#step{
    background-color: rgba(0, 116, 231, 0.1);
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 100px;
}

#step h4{
    font-weight: 700;
    color: #003679;
    margin-top: 20px;
    margin-bottom: 10px;
}

#step .chiffre{
    display: inline-block;
    font-size: 40px;
    color: #0074E7;
    background-color: #fff;
    margin-bottom: 0px;
    border-radius: 50px;
}

#step .left, #step .middle{
    position: relative;
}

#step .left .chiffre{
    padding: 16px 40px;
}

#step .middle .chiffre{
    padding: 16px 35px;
}

#step .right .chiffre{
    padding: 16px 34px;
}

#step .left .chiffre:after, #step .middle .chiffre:after{
    content: "";
    position: absolute;
    top: 40px;
    right: -80px;
    background-image: url('img/arrow.png');
    width: 180px;
    height: 14px;
}

#card-color{
    margin-bottom: 100px;
}

#card-color h2{
    margin-bottom: 55px;
}

#card-color h2 span{
    font-size: 30px;
}

#card-color h4{
    color: #fff;
    font-weight: 700;
}

#card-color p{
    font-weight: 600;
    margin-bottom: 0px;
}

#card-color .top{
    margin-bottom: 40px;
}

#card-color .light, #card-color .dark{
    height: 100%;
    color: #fff;
    padding: 50px;
    box-shadow: 0px 4px 20px rgba(35, 81, 149, 0.35);
}

#card-color .light{
    background-color: #0074E7;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#card-color .dark{
    background-color: #0133AB;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#outils-rh{
    margin-bottom: 100px;
}

#outils-rh h2{
    margin-bottom: 50px;
}

#outils-rh .items{
    margin-bottom: 45px;
}

#outils-rh .img{
    background: linear-gradient(135.7deg, #0074E7 0%, rgba(0, 116, 231, 0) 129.38%);
    border-radius: 10px;
}

#outils-rh .bg-recrutement{
    margin-top: 100px;
}

#outils-rh .bg-recrutement .content{
    background-image: url('img/bandeau-marque.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 50px;
    border-radius: 15px;
}

#outils-rh .bg-recrutement h3{
    color: #fff;
    font-size: 30px;
}

#outils-rh .bg-recrutement p{
    color: #fff;
    font-size: 20px;
}

/************************ Recrutement **************************
***************************************************************/

/* Fonctionnement */

#fonctionnement{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(180deg, rgba(0, 116, 231, 0) 0%, rgba(0, 116, 231, 0.1) 100%);
}

#fonctionnement h2{
    margin-bottom: 35px;
}

#fonctionnement .signature{
    margin-bottom: 40px;
}

/* Externalisation */

#externalisation{
    padding-top: 100px;
    padding-bottom: 100px;
}

#externalisation .item .green{
    font-size: 70px;
}

#externalisation .img-externalisation{
    position: relative;
    top: 35px;
}

/* Carousel */

#carousel-recrutement{
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    background-color: rgba(61, 226, 187, 0.1);
}

#carousel-recrutement .bg-offre{
    padding-top: 100px;
}

#carousel-recrutement .bg-offre h3{
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}

#carousel-recrutement .bg-offre h3 span{
    font-size: 20px;
}

#carousel-recrutement .bg-offre .content{
    background-image: url('img/bg-offres.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 50px;
    border-radius: 15px;
}

/************************ Formules **************************
************************************************************/

#price{
    padding-top: 100px;
    padding-bottom: 100px;
}

#price h4{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
}

#price .form-switch{
    padding-left: 0px;
    margin-bottom: 15px;
}

#price .form-check-input{
    width: 57px;
    height: 31px;
    margin: 0 auto;
    float: none;
    position: relative;
    top: 15px;
}

#price .mensuel, #price .annuel{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#price .item-header{
    color: #fff;
    border-bottom-right-radius: 50px;
    padding: 20px;
}

#price .saturne .item-header{
    background-color: #0074E7;
}

#price .jupiter .item-header{
    background-color: #0133AB;
}

#price .lumiere .item-header{
    background-color: #003679;
}

#price .price-m, #price .price-a{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0px;
}

#price .month-m, #price .month-a{
    font-size: 20px;
    font-weight: 300;
}

#price .month-a, #price .price-a{
    display: none;
}

#price .item{
    height: 100%;
    box-shadow: 0px 4px 10px rgba(35, 81, 149, 0.15);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#price .content{
    padding: 20px;
}

#price .content li{
    padding: 10px;
}

#price .content li.active{
    list-style-image: url("img/icons/active.png");
}

#price .content li.time{
    list-style-image: url("img/icons/time.png");
}

#price .content li.inactive{
    list-style-image: url("img/icons/inactive.png");
}

#price .btn-border{
    text-align: center;
    font-size: 16px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    margin-top: 40px;
}

#price .saturne .btn-border{
    border: 1px solid #0074E7;
    color: #0074E7;
}

#price .saturne .btn-border:hover{
    background-color: #0074E7;
    color: #fff;
}

#price .jupiter .btn-border{
    border: 1px solid #0133AB;
    color: #0133AB;
}

#price .jupiter .btn-border:hover{
    background-color: #0133AB;
    color: #fff;
}

#price .lumiere .btn-border{
    border: 1px solid #003679;
    color: #003679;
}

#price .lumiere .btn-border:hover{
    background-color: #003679;
    color: #fff;
}

#price .msg-formule{
    padding-top: 100px;
}

#price .msg-formule p{
    font-size: 20px;
    font-weight: 600;
}

#price .msg-formule:before{
    content: "";
    display: block;
    background-color: #003679;
    height: 1px;
    width: 130px;
    margin: 0 auto;
    position: relative;
    bottom: 40px;
}

#price .msg-formule:after{
    content: "";
    display: block;
    background-color: #003679;
    height: 1px;
    width: 130px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

#services-formule{
    padding-bottom: 80px;
    background: linear-gradient(180deg, rgba(0, 116, 231, 0) 0%, rgba(0, 116, 231, 0.1) 100%);
}

#services-formule h2{
    margin-bottom: 50px;
}

#services-formule .top{
    margin-bottom: 25px;
}

#services-formule .bottom{
    margin-top: 25px;
    margin-bottom: 30px;
}

/* Premium */

#premium{
    padding-top: 100px;
    padding-bottom: 100px;
}

#premium h2{
    margin-bottom: 50px;
}

#premium .items{
    margin-bottom: 50px;
}

/************************ Valeurs **************************
**********************************************************/

#presentation{
    padding-top: 100px;
    padding-bottom: 100px;
}

#presentation .content, #commencement .content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#presentation .items{
    padding-top: 50px;
}

#presentation .item-radius{
    background-color: rgba(0, 116, 231, 0.1);
    box-shadow: none;
}

#presentation .item-radius h3{
    color: #0074E7;
}

#bandeau-valeurs{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(61, 226, 187, 0.1);
}

#bandeau-valeurs h2{
    margin-top: 15px;
}

#bandeau-valeurs p{
    font-size: 30px;
}

#commencement{
    padding-top: 100px;
    padding-bottom: 100px;
}

#perf-exp{
    padding-top: 50px;
    background: linear-gradient(180deg, rgba(0, 116, 231, 0) 0%, rgba(0, 116, 231, 0.1) 100%);
}

.perf{
    padding-bottom: 100px;
}

.perf .content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hash{
    font-weight: 600;
    font-size: 20px;
}

.perf .item{
    border: 1px solid rgba(0, 116, 231, 0.25);
    border-radius: 11px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 50px;
}

.perf .item p{
    margin-bottom: 0px;
}

.exp{
    padding-bottom: 100px;
}

.exp h2{
    margin-bottom: 50px;
}

.exp p{
    margin-top: 15px;
}

.exp .img{
    display: inline-block;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(35, 81, 149, 0.15);
    border-radius: 50px;
}

.exp .top, .exp .bottom{
    margin-bottom: 45px;
}

/************************ Contact **************************
***********************************************************/

#contact{
    padding-top: 50px;
    padding-bottom: 100px;
}

#contact h1{
    margin-bottom: 50px;
}

label{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

input[type=text], input[type=tel], input[type=email], textarea{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(35, 81, 149, 0.15);
    border-radius: 5px;
    padding: 20px;
    border: none;
}

input[type=submit]{
    border: none;
}

/************************ Footer **************************
**********************************************************/

footer{
    background-color: #001F46;
}

footer .top{
    padding-top: 40px;
    padding-bottom: 40px;
}

footer p{
    font-size: 14px;
    color: #fff;
}

footer a, footer i{
    color: #fff;
}

footer i{
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 15px 16px;
    border-radius: 30px;
}

footer .left span{
    display: block;
}

footer .left img{
    margin-bottom: 20px;
}

footer .right{
    font-weight: 600;
    font-size: 14px;
}

footer .linkedin a{
    position: relative;
    bottom: 15px;
}

footer .address a{
    display: block;
    margin-bottom: 10px;
}

footer .address p{
    margin-bottom: 10px;
}

footer nav ul{
    list-style: none;
    padding-left: 0px;
}

footer .bottom{
    font-size: 14px;
    font-style: italic;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
}