/* Mise en page */

a, :hover{
    text-decoration: none !important;
}

:hover{
    transition: all 0.3s ease-in-out 0s;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #003679;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: #003679;
}

h1{
    font-size: 55px;
    font-weight: 700;
}

h2{
    font-size: 37px;
    font-weight: 600;
    line-height: 48px;
}

h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

.blue{
    color: #0074E7;
}

.green{
    color: #3DE2BB;
}

.btn-blue{
    display: inline-block;
    color: #fff !important;
    background-color: #0074E7;
    border-radius: 12px;
    padding: 10px 30px;
}

.btn-blue:hover{
    background-color: #005BB5;
}

.btn-dark{
    display: inline-block;
    color: #fff !important;
    background-color: #003679;
    border-radius: 12px;
    padding: 10px 30px;   
}

.btn-dark:hover{
    background-color: #002149;
}

.btn-light{
    display: inline-block;
    color: #fff !important;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: 10px 30px;   
}

.btn-light:hover{
    background: rgba(255, 255, 255, 0.2);
}

/************** Header ***************
*************************************/

header{
    position: relative;
    z-index: 1;
}

header .top{
    position: relative;
    font-weight: 600;
    color: #003679;
    background-color: #AFD7FF;
    padding: 10px;
}

header .top p{
    margin-bottom: 0px;
}

header .top span{
    position: absolute;
    top: 10px;
    right: 10px;
}

header .top span i{
    margin-left: 10px;
}

header nav{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

header nav a{
    position: relative;
    color: #003679 !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

header nav a.hov:hover{
    color: #0074E7 !important;
}

header nav a.hov:after {
    position: absolute;
    left: 50%;
    right: 50%;
    height: 2px;
    bottom: 0;
    content: "";
    background-color: #0074E7;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate3d(0, 0, 0);
}

header nav a.hov:hover:after {
    left: 40px;
    right: 42px;
  }

header .navbar-collapse{
    flex-grow: inherit;
}

/************** Banner ***************
*************************************/

#banner .bg-banner, #banner .bg-page{
    position: absolute;
    top: 44px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    z-index: 0;
}

#banner .bg-banner{
    height: 680px;
    background-image: url('img/header-home.webp');
}

#banner .bg-page{
    height: 580px;
    background-image: url('img/bg-page.png');
}

#banner h1{
    margin-bottom: 20px;
}

#banner .container{
    position: relative;
}

#banner .content p{
    margin-bottom: 50px;
}

#banner .content span{
    font-weight: 600;
    margin-right: 10px;
}

/************************ Services **************************
************************************************************/

#services{
    padding-top: 50px;
    padding-bottom: 50px;
}

#services .subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #0074E7;
}

#services .items{
    position: relative;
    margin-top: 50px;
}

#services .item{
    position: relative;
    z-index: 1;
    background-color: #fff;
    height: 100%;
    padding: 30px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 4px 10px rgba(35, 81, 149, 0.15);
}

#services .items:after{
    content: "";
    position: absolute;
    z-index: 0;
    left: -60px;
    bottom: -75px;
    width: 294px;
    height: 278px;
    background-image: url('img/deco-trame-bloc.webp');
}

#services .item .img{
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(0, 116, 231, 0.1);
}

#services .item i{
    color: #3DE2BB;
    font-size: 24px;
}

/************** Concept ***************
**************************************/

#concept{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
}

#concept h2{
    margin-bottom: 70px;
}

#concept h3{
    font-size: 30px;
}

#concept .subtitle{
    color: #003679;
    font-size: 20px;
    font-weight: 600;
}

#concept .bg-concept{
    background-image: url('img/bg-concept.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 79px;
    border-radius: 15px;
}

#concept .bg-concept h3{
    color: #fff;
    line-height: 44px;
}

#concept .clients h3{
    margin-top: 70px;
    margin-bottom: 15px;
}

/************** Avis ***************
***********************************/

#avis{
    background-color: rgba(0, 116, 231, 0.1);
    padding-top: 65px;
    padding-bottom: 65px;
    overflow: hidden;
}

#avis .title-nav{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#avis .container{
    position: relative;
}

#avis .item .infos{
    display: flex
}

#avis .item .infos .img img{
    width: 65px;
}

#avis .item .name{
    margin-left: 10px;
}

/* Carousel */

.owl-carousel{
    width: 100vw;
}

.owl-carousel .item{
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(35, 81, 149, 0.3);
    border-radius: 15px;
}

.owl-carousel .item .quote{
    width: 38px;
    margin-bottom: 15px;
}

.owl-carousel p{
    font-size: 14px;
}

.owl-item{
    padding: 15px;
}

.owl-controls{
    margin-top: 40px;
}

.owl-nav .owl-prev, .owl-nav .owl-next{
    border-radius: 30px;
    background-color: rgba(0, 54, 121, 0.1);
    margin: 0 5px;
    border: none;
}

.owl-nav i{
    padding: 15px 13px;
    color: #0074E7;
}

/************** Besoins ***************
**************************************/

#besoins{
    padding-top: 50px;
}

#besoins h2{
    margin-bottom: 30px;
}

#besoins p{
    margin-bottom: 0px;
}

#besoins .left .content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#besoins .content img{
    margin-bottom: 15px;
}

#besoins .item{
    position: relative;
    margin-bottom: 30px;
    padding: 50px 100px;
    box-shadow: 0px 4px 10px rgba(35, 81, 149, 0.15);
    border-radius: 11px;
}

#besoins .item.expert:before, #besoins .item.rocket:before, #besoins .item.candidat:before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    left: 35px;
}

#besoins .item.expert:before{
    background-image: url('img/icons/icon_expert.png');
    width: 32px;
    height: 27px;
}

#besoins .item.rocket:before{
    background-image: url('img/icons/icon_rocket.png');
    width: 28px;
    height: 28px;
}

#besoins .item.candidat:before{
    background-image: url('img/icons/icon_candidat.png');
    width: 28px;
    height: 32px;
}

/* valeurs */

.valeurs{
    color: #fff;
    background-color: #0074E7;
    border-radius: 15px;
    padding: 45px;
    position: relative;
    top: 85px;
}

.valeurs p{
    font-size: 30px;
}

.valeurs p span{
    font-size: 20px;
}

.valeurs a{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* chiffres */

.chiffres{
    background-color: rgba(0, 116, 231, 0.1);
    padding-top: 200px;
    padding-bottom: 95px;
}

.chiffres h3{
    font-size: 30px;
    line-height: 43px;
}

.chiffres .top{
    margin-bottom: 20px;
}

.chiffres .bottom{
    margin-top: 20px;
}

.chiffres .left p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px !important;
}

.chiffres .right .blue{
    font-size: 40px;
    font-weight: 700;
}

.chiffres .right p{
    color: #101130;
    font-size: 14px;
}

/************************ FAQ **************************
*******************************************************/

#faq{
    background-color: #003679;
    padding-top: 70px;
    padding-bottom: 70px;
}

#faq h2, #faq h3{
    color: #fff;
}

#faq h2{
    margin-bottom: 70px;
}

#faq h3{
    font-size: 37px;
    margin-bottom: 20px;
}

#faq .left p{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

/* Accordion */

#faq .accordion{
    --bs-accordion-bg: transparent;
}

#faq .accordion-item{
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px #222F43;
    border-radius: 11px;
    background-color: #fff;
}

#faq .accordion-button:not(.collapsed){
    background-color: transparent;
    border: none;
}

#faq .accordion-item .reponse{
    font-size: 14px;
    color: #003679;
    padding: 15px;
}

#faq .accordion-item p{
    margin-bottom: 0px;
}

#faq .accordion-item h2{
    margin-bottom: 0px;
}

/************************ Recrutement **************************
***************************************************************/

/* Fonctionnement */

#fonctionnement{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(180deg, rgba(0, 116, 231, 0) 0%, rgba(0, 116, 231, 0.1) 100%);
}

#fonctionnement h2{
    margin-bottom: 35px;
}

#fonctionnement .signature{
    margin-bottom: 40px;
}

/* Externalisation */

#externalisation{
    padding-top: 100px;
    padding-bottom: 100px;
}

#externalisation .item .green{
    font-size: 70px;
}

#externalisation .img-externalisation{
    position: relative;
    top: 35px;
}

/* Carousel */

#carousel-recrutement{
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    background-color: rgba(61, 226, 187, 0.1);
}

#carousel-recrutement .bg-offre{
    padding-top: 100px;
}

#carousel-recrutement .bg-offre h3{
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}

#carousel-recrutement .bg-offre h3 span{
    font-size: 20px;
}

#carousel-recrutement .bg-offre .content{
    background-image: url('img/bg-offres.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 50px;
    border-radius: 15px;
}

/************************ Footer **************************
**********************************************************/

footer{
    background-color: #001F46;
}

footer .top{
    padding-top: 40px;
    padding-bottom: 40px;
}

footer p{
    font-size: 14px;
    color: #fff;
}

footer a, footer i{
    color: #fff;
}

footer i{
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 15px 16px;
    border-radius: 30px;
}

footer .left span{
    display: block;
}

footer .left img{
    margin-bottom: 20px;
}

footer .right{
    font-weight: 600;
    font-size: 14px;
}

footer .linkedin a{
    position: relative;
    bottom: 15px;
}

footer .address a{
    display: block;
    margin-bottom: 10px;
}

footer .address p{
    margin-bottom: 10px;
}

footer nav ul{
    list-style: none;
    padding-left: 0px;
}

footer .bottom{
    font-size: 14px;
    font-style: italic;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
}